body {
    font-family: Helvetica;
}

header {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2px;
}

.logo {
    display: flex;
    align-items: center;
    /* Выравнивание элементов по вертикали */
    gap: 10px;
    /* Расстояние между элементами */
}

.right {
    justify-content: flex-end;
}

.dropdown button,
.txt-btn button {
    background-color: transparent;
    border: none;
    margin: 0px 10px;
}

.login,
.register {
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #00b289;
}

.login {
    color: #00b289;
    background-color: #fff;
}

.register {
    background-color: #00b289;
    color: #fff;
}

.mainh {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
main{
    margin: 10px 100px;
    background-color: #e4e4e4;
}
.register:active{
    background-color: #fff;
    color: #00b289;
}
.login:active{
    background-color: #00b289;
    color: #fff;
}